.status {
    padding: 8px 10px;
    border-radius: 5px;
    border: 2px solid;
    margin-bottom: 15px;
    background-color: lightgray;

    &.status-success {
        color: green;
    }
    &.status-undefined {
        display: none;
    }
}
